(
    directory: "/Users/suri/dev/projects/filaments/ZettelKasten",
    global_key_binds: {
        "down": MoveDown,
        "ctrl-z": Suspend,
        "ctrl-c": Quit,
        "up": MoveUp,
    },
    zk: (
        keybinds: {
            "tab": SwitchTo(
                page: Todo(Explorer),
            ),
            "ctrl-n": NewZettel,
            "enter": OpenZettel,
        },
    ),
    todo: (
        explorer: (
            keybinds: {
                "1": SwitchTo(
                    page: Todo(Explorer),
                ),
                "j": MoveDown,
                "enter": SwitchTo(
                    page: Todo(Inspector),
                ),
                "tab": SwitchTo(
                    page: Zk,
                ),
                "g": NewSubGroup,
                "2": SwitchTo(
                    page: Todo(Inspector),
                ),
                "t": NewTask,
                "3": SwitchTo(
                    page: Todo(TaskList),
                ),
                "shift-g": NewGroup,
                "k": MoveUp,
            },
        ),
        inspector: (
            keybinds: {
                "tab": SwitchTo(
                    page: Zk,
                ),
                "1": SwitchTo(
                    page: Todo(Explorer),
                ),
                "n": EditName,
                "3": SwitchTo(
                    page: Todo(TaskList),
                ),
                "p": EditPriority,
                "2": SwitchTo(
                    page: Todo(Inspector),
                ),
            },
        ),
        tasklist: (
            keybinds: {
                "k": MoveUp,
                "enter": SwitchTo(
                    page: Todo(Inspector),
                ),
                "tab": SwitchTo(
                    page: Zk,
                ),
                "3": SwitchTo(
                    page: Todo(TaskList),
                ),
                "2": SwitchTo(
                    page: Todo(Inspector),
                ),
                "j": MoveDown,
                "1": SwitchTo(
                    page: Todo(Explorer),
                ),
            },
        ),
    ),
)