(
    directory: "/Users/suri/dev/projects/filaments/ZettelKasten",
    global_key_binds: {
        "down": MoveDown,
        "up": MoveUp,
        "ctrl-z": Suspend,
        "ctrl-c": Quit,
    },
    zk: (
        keybinds: {
            "enter": OpenZettel,
            "ctrl-n": NewZettel,
            "tab": SwitchTo(
                page: Todo(Explorer),
            ),
        },
    ),
    todo: (
        explorer: (
            keybinds: {
                "2": SwitchTo(
                    page: Todo(Inspector),
                ),
                "3": SwitchTo(
                    page: Todo(TaskList),
                ),
                "1": SwitchTo(
                    page: Todo(Explorer),
                ),
                "k": MoveUp,
                "shift-g": NewSubGroup,
                "j": MoveDown,
                "k": MoveUp,
                "tab": SwitchTo(
                    page: Zk,
                ),
            },
        ),
        inspector: (
            keybinds: {
                "3": SwitchTo(
                    page: Todo(TaskList),
                ),
                "tab": SwitchTo(
                    page: Zk,
                ),
                "2": SwitchTo(
                    page: Todo(Inspector),
                ),
                "1": SwitchTo(
                    page: Todo(Explorer),
                ),
            },
        ),
        tasklist: (
            keybinds: {
                "tab": SwitchTo(
                    page: Zk,
                ),
                "3": SwitchTo(
                    page: Todo(TaskList),
                ),
                "1": SwitchTo(
                    page: Todo(Explorer),
                ),
                "j": MoveDown,
                "k": MoveUp,
                "2": SwitchTo(
                    page: Todo(Inspector),
                ),
            },
        ),
    ),
)
