
filaments_dir "{INSERT_HERE}"

keymap {

    Home {
        q Quit // Quit the application
        <Ctrl-c> Quit // Another way to quit
        <Ctrl-z> Suspend // Suspend the application
        j MoveDown
        k MoveUp
        o OpenZettel
        n NewZettel
    }
}
