(
    directory: "{INSERT_ROOT_HERE}",
    global_key_binds: {
        "up":     MoveUp,
        "down":   MoveDown,
        "ctrl-z": Suspend,
        "ctrl-c": Quit,
    },
    zk: (
        keybinds: {
            "tab": SwitchTo(page: Todo(Explorer)),
            "ctrl-n": NewZettel,
            "enter":  OpenZettel,
        },
    ),
    todo: (
        explorer: (
            keybinds: {
                "tab": SwitchTo(page: Zk),
                "1": SwitchTo(page: Todo(Explorer)),
                "2": SwitchTo(page: Todo(Inspector)),
                "3": SwitchTo(page: Todo(TaskList)),
                "j": MoveDown,
                "k": MoveUp,
                "shift-g": NewGroup,
                "g": NewSubGroup,
                "t": NewTask,
                "enter": SwitchTo(page: Todo(Inspector))
            },
        ),
        inspector: (
            keybinds: {
                "tab": SwitchTo(page: Zk),
                "1": SwitchTo(page: Todo(Explorer)),
                "2": SwitchTo(page: Todo(Inspector)),
                "3": SwitchTo(page: Todo(TaskList)),
                "n": EditName,
                "p": EditPriority,
                "d": EditDue
            },
        ),
        tasklist: (
            keybinds: {
                "tab": SwitchTo(page: Zk),
                "1": SwitchTo(page: Todo(Explorer)),
                "2": SwitchTo(page: Todo(Inspector)),
                "3": SwitchTo(page: Todo(TaskList)),
                "j": MoveDown,
                "k": MoveUp,
                "enter": SwitchTo(page: Todo(Inspector))
            },
        ),
    ),
)

