(
    directory: "{INSERT_ROOT_HERE}",
    global_key_binds: {
        "up": MoveUp,
        "ctrl-c": Quit,
        "ctrl-z": Suspend,
        "down": MoveDown,
    },
    zk: (
        keybinds: {
            "enter": OpenZettel,
            "tab": SwitchTo(
                region: Todo,
            ),
            "<Ctrl-n>": NewZettel,
        },
    ),
    todo: (
        keybinds: {
            "k": MoveUp,
            "j": MoveDown,
            "tab": SwitchTo(
                region: Zk,
            ),
        },
    ),
)
